node_modules/
client/node_modules/
server/node_modules/
functions/node_modules/

client/dist/
server/ta.db

.env
client/.env
server/.env
functions/.env

.DS_Store
*.log
firebase-debug.log
firebase-debug.*.log
.firebase/
.claude/
